@inherits EntitySelectBase<Supplier>
@using ComponentTradeCenter.Server.Data.Model
@using ComponentTradeCenter.Server.Components.Base
@using ComponentTradeCenter.Server.Components.Info

<div class="col-12 col-sm-6">
    <Select @bind-Value="@InternalValue" Items="@Items.Keys" DisplayText="供应商">
        <ItemTemplate Context="v">
            <SupplierInfo Value="@Items[v]" />
        </ItemTemplate>
    </Select>
</div>
