@inherits EntitySelectBase<Trader>
@using ComponentTradeCenter.Server.Data.Model
@using ComponentTradeCenter.Server.Components.Base
@using ComponentTradeCenter.Server.Components.Info

<div class="col-12 col-sm-6">
    <Select @bind-Value="@InternalValue" Items="@Items.Keys" DisplayText="交易员">
        <ItemTemplate Context="v">
            <TraderInfo Value="@Items[v]" />
        </ItemTemplate>
    </Select>
</div>
