* text=auto

*.sln    merge=binary
*.csproj merge=binary
*.jpg    binary
*.png    binary
*.gif    binary
*.docx   diff=astextplain
*.razor  linguist-language=C#
*.sql    linguist-detectable=true
*.sql    linguist-language=sql
